:root {

    --white:                #ffffff;

    --yellow:               #FFC903;
    /* rgb(253,202,3) */
    --blue:                 #333E6A;
    /* rgb(51,62,106) */
    --bluegreen:            #02699F;
    /* rgb(2,105,159) */

}

#section5{
    text-align: -webkit-center;
}


 

.btscomponent {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    background: radial-gradient(
        circle at right, /* Radial gradient centered */
        #333E6A 10%, /* Start with a dark color close to the center */
        #0f4867 30%, /* Dark blue as the second color */
        #0a5882 50%, /* Deep purple or blue as the third color */
        #0a547c 60%, /* Deep purple or blue as the third color */
        #04486d 80%, /* Lighter purple towards the outer edge */
        #333E6A 100% /* A lighter shade at the very edge */
    );
    color: white;
    contain: content;
    border-radius: 15px;
    border: 3px ridge rgba(64, 55, 55, 0.3);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
    width: fit-content;
}


.btslogocomponent{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left: -1.7rem;
}
.btscardcontainer{
    display: flex;
    justify-content: center;
    margin: 0 5vw;

}
.BtsCard > img{
    width: 25rem;
    border-radius: 15px;

}
.BtsCard {
    align-content: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
    border: 3px ridge rgba(64, 55, 55, 0.4);
    border-radius: 15px;

}
.btslogoholder > img{
    height: 6rem;
    
}
.btscardcontainer{
    align-content: center;    
}
.btsdefinitioncontainer{
    align-content: center;
}
.btsparagraph{
    color: aliceblue;
}
.btsdefinitioncomponent{
    padding: 1rem;
    align-self: center;
    align-content: center;
}

@media screen and (min-width:365px)and (max-width: 736px) {

    .btscomponent {
        display: flex;
        flex-direction: column;
    }
    .btsparagraph{
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width:0)and (max-width: 365px) {

    .BtsCard > img{
        width: 45rem;
        
    }
    .btsparagraph{
        display: flex;
        justify-content: center;
    }
    .btscomponent {
        display: flex;
        flex-direction: column;
    }
}
