.BtsSection {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: white;

}

.BtsWrapper {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.BtsDefine{
    padding: 3rem 2rem 0 2rem;
}
.BtsDefineTitle{
    text-align: center;
}

.BtsDefineLogo{
    width: 35%;
    
}
.BtsDefineParagraph1 {
    text-indent: 2rem;
    color: var(--blue);
    text-align: justify;
}
// ======================
.BtsCardContainer{
    display: flex;
    align-items: center;
}
.BtsCarouselContainer{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.BtsCarouselCard {
    background-color: gainsboro;
    overflow-x: hidden;
    width: 28vw;
    height: 2.7rem; /* Adjust height as needed */
    // overflow: hidden;
    position: relative;
    box-shadow: inset -20px 0px 20px -20px rgba(0,0,0,0.6), inset 20px 0px 20px -20px rgba(0,0,0,0.9);

}

.BtsCarouselTrack {
    display: flex;
    animation: carousel 7s infinite linear;

}

.BtsCarouselItem {
    width: 100px; /* Adjust width as needed */
    height: 40px; /* Match carousel container height */
    user-select: none; /* Prevent image dragging */
    margin: 0 20px; /* Adjust the margin value to add space between images */
}

/* Gradient for semi-transparent ends */


@keyframes carousel {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

// ==========================================


.BtsCard {
    width: 33vw;
    height: 68%;
    // border-radius: 15px;
    padding: 2rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.7);
}

.BtsCard:hover {
    transform: translateY(10px);
}

.BtsCard:hover:before {
    opacity: 1;
}

.BtsCard .Btsinfo {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}

.BtsCard:hover .Btsinfo {
    opacity: 1;
    transform: translateY(0px);
}

.BtsCard:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    // border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.BtsCard img {
    // width: 100%;
    // height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    // border-radius: 15px;
}

.BtsCard .BtsInfo .BtsHeading {
    margin: 0px;
}
.BtsCard .Btsinfo .BtsPara {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
}
.BtsButton {
    display: inline-block; /* Set display to inline-block */
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: var(--blue);
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
    text-decoration: none;
}

.BtsCard .Btsinfo .BtsButton {
    margin-top: 10px; /* Adjust as needed */
}

.BtsCard .Btsinfo .BtsButton:hover {
    background: var(--yellow);
    color: white;
}




@media screen and (min-width: 1880px) and (max-width: 2880px) {
    .BtsDefine{
        width: 35rem;
       }
       .BtsDefineParagraph1{
        width: 30rem;
        justify-content: center;
        display: flex;
        }
        .BtsDefineParagraphHead{
        display: flex;
        justify-content: space-around;
        }
        .BtsCard img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
        .BtsCard{
            width: 30vw;
            height: 100%;
            padding: 2rem;
            background: white;
            position: relative;
            display: flex;
            align-items: flex-end;
            transition: 0.4s ease-out;
            box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.7);
        }
    }
@media screen and (min-width: 1280px) and (max-width: 1880px) {
   .BtsDefine{
    width: 35rem;
   }
   .BtsDefineParagraph1{
    width: 30rem;
    justify-content: center;
    display: flex;
    }
    .BtsDefineParagraphHead{
    display: flex;
    justify-content: space-around;
    }
    .BtsCard img{
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 30rem;
    }
    .BtsCard{
        width: 44vw;
        height: 100%;
        padding: 2rem;
        background: white;
        position: relative;
        display: flex;
        align-items: flex-end;
        transition: 0.4s ease-out;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.7);
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .BtsCard img{
        width: 39rem;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 30rem;
    }
    .BtsCard{
        width: 47vw;
        height: 100%;
        padding: 2rem;
        background: white;
        position: relative;
        display: flex;
        align-items: flex-end;
        transition: 0.4s ease-out;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.7);
    }

}

@media screen and (min-width: 918px) and ( max-width: 1024px ) {
    .BtsDefineTitle{
        margin-top: -3rem;
    }
    .BtsDefineLogo{
        width: 60%;
    }
    .BtsCarouselContainer{
        margin-top: 0rem;
    }
    .BtsCard{
        width: 50vw;
        height: 30vh;
    }
    .BtsCard img{
        width: 50vw;
        height: 100%;
    }
    .BtsDefineParagraph1{
        margin-top: -1rem;
    }
    .BangtanImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 25rem;
    }
}


@media screen and (min-width: 716px) and ( max-width: 918px ) {
    .BtsDefineLogo{
        width: 50%;
    }
    .BtsCardContainer {
        height: 10rem;
    }
    .BtsCard {
        margin-top: 17rem;
        width: 40vw;
        height: 25rem;
        /* padding: 2rem; */
        /* background: white; */
        position: relative;
        display: flex;
        align-items: flex-end;
        transition: 0.4s ease-out;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.7);
    }
    .BtsCard img {
        height: 100%;
        width: 100%;
    }
    .BtsCardContainer{
        height: 10rem;
       }
    .BtsCarouselContainer{
        margin-top: -2rem;
    }
    .BtsDefineParagraph1{
        margin-top: -2rem;
    }
}
@media screen and (min-width: 552px) and ( max-width: 715px ) {
    .BtsDefineLogo{
        width: 50%;
    }
    .BtsCardContainer {
        height: 10rem;
    }
    .BtsCard img {
        height: 100%;
        width: 100%;
    }
    .BtsCard {

    }
    .BtsCardContainer{
        height: 10rem;
       }
    .BtsCarouselContainer{
        margin-top: -2rem;
    }
    .BtsDefineParagraph1{
        margin-top: -2rem;
    }
}

@media screen and (min-width: 492px) and ( max-width: 552px ) {
    .BtsCarouselCard {
        width: 100%;
    }
    .BtsCarouselContainer{
        margin-top: 0;
    }
    .BtsDefineParagraph1{
        // width: 20rem;
    }
    .BtsDefineParagraphHead{
        display: flex;
        justify-content: center;
    }
    
    .BtsDefineTitle{
        display: flex;
        justify-content: center;
    }
    .BtsDefineLogo{
        width: 13rem;
    }
    .BtsCard{
        padding: 5rem;
        height: 80%;
    }
    .BtsCard img {
        height: 100%;
        width: 100%;
    }
// ----------00-750px ----------
    .BtsDefine {
        margin-bottom: 2rem;
        // max-width: 25rem;
        padding: 0;
        width: 27rem;
    }
    .BtsWrapper {
        flex-direction: column;
        align-items: center;
    }
    .BtsCard{
        width: 80vw;
    }
        
    .BtsWrapper {
        flex-direction: column;
        align-items: center;
    }
    .BtsCard{
        width: 80vw;
    }
    .BtsDefineLogo{
        display: flex;
        justify-content: space-around;
    }
    .BtsCarouselContainer{
        width: 100%;
    }
}

@media screen and (min-width: 376px) and ( max-width: 491px ) {
    .BtsDefineLogo{
        width: 70%;
    }
    .BtsolveLogoHolder{
        display: contents;
    }
    .BtsDefineTitle{
        justify-content: center;
        display: flex;
       }
    .BtsCarouselCard{
        width: 60vw;
        margin-top: -4rem;
    }
    .BtsCard{
        width: 70vw;
        height: 25vh;
    }
    .BtsWrapper {
        flex-direction: column;
        align-items: center;
    }
    .BtsDefineParagraph1{
        width: 18rem;
    }
    .BtsCarouselContainer{
        width: 100%;
    }
    .BtsCard img {
        height: 100%;
        width: 100%;
    }
}

@media screen and (min-width: 0px) and ( max-width: 375px ) {
    .BtsCarouselCard {
        width: 100%;
    }
    .BtsCarouselContainer{
        margin-top: 0;
    }
    .BtsDefineParagraph1{
        width: 20rem;
    }
    .BtsDefineParagraphHead{
        display: flex;
        justify-content: center;
    }
    
    .BtsDefineTitle{
        display: flex;
        justify-content: center;
    }
    .BtsDefineLogo{
        width: 10rem;
    }
    .BtsCard{
        padding: 5rem;
        height: 80%;
    }
    .BtsCard img {
        height: 100%;
        width: 100%;
    }
// ----------00-750px ----------
    .BtsDefine {
        margin-bottom: 2rem;
        max-width: 20rem;
    }
    .BtsWrapper {
        flex-direction: column;
        align-items: center;
    }
    .BtsCard{
        width: 80vw;
    }
        
    .BtsWrapper {
        flex-direction: column;
        align-items: center;
    }
    .BtsCard{
        width: 80vw;
    }
    .BtsDefineLogo{
        display: flex;
        justify-content: space-around;
    }
    .BtsCarouselContainer{
        width: 100%;
    }
   
}
