.btscomponent {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 1rem;
    background: radial-gradient(
        circle at top, /* Radial gradient centered */
        #1f1ca0 10%, /* Start with a dark color close to the center */
        #1a2653 30%, /* Dark blue as the second color */
        #2a2881 60%, /* Deep purple or blue as the third color */
        #232f5d 80%, /* Lighter purple towards the outer edge */
        #0e0f6d 100% /* A lighter shade at the very edge */
    );
    color: var(--yellow);
    contain: content;
    border-radius: 15px;
    border: 3px ridge rgba(64, 55, 55, 0.3);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */

}


.btslogocomponent{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.btscardcontainer{
    display: flex;
    justify-content: center;
}
.BtsCard > img{
    width: 25rem;
    border-radius: 15px;
    border: 3px ridge rgba(40, 39, 36, 0.3);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */

}
.btslogoholder > img{
    height: 4rem;
    
}
.btscardcontainer{
    align-content: center;    
}
.btsdefinitioncontainer{
    align-content: center;
}
.btsparagraph{
    color: aliceblue;
}
.btsdefinitioncomponent{
    padding: 1rem;
    align-content: center;
}

@media screen and (max-width: 736px) {

    .btscomponent {
        display: flex;
        flex-direction: column;
    }
    .btsparagraph{
        display: flex;
        justify-content: center;
    }
}