.btssection {
    height: fit-content;
    width: 100vw;
    background-color: var(--blue);
    padding: 1rem;
}
.btscomponent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; /* Adjust the gap as needed */
}



.btscardcontainer{
    justify-content: end;
}


.BtsCard > img {
    max-width: 100%; /* Limit the image width to 100% of its container */
    height: auto; /* Maintain the aspect ratio by setting height to auto */
    padding: 1rem;
    border-radius: 50px;
}


.btsdefinition{
    background-image: url("../../public/btsdefineholder.png");
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    width: auto;    
    background-size: cover;                                                               

}

.btslogoholder{
    align-items: center;
    justify-content: center;
}

.btsdefinitioncomponent{
    align-content: center;

}

.btslogo{
    height: 5rem;
    width: 5rem;
}
.btslogocomponent{
    display: flex;
    font-family: "montserrat";
    color: rgb(255, 255, 255);
    font-size: 2rem;
    padding-left: 2.5rem;
    align-items: center;

}

.btsparagraph{
    color: rgb(255, 255, 255);
    text-align: center;
}

.btsparagraphholder{
    margin-bottom: 3rem;
}
.BtsCard{
    text-align: right;
    width: 100%;
}
@media screen and (max-width: 736px) {
    .btscomponent{
        display: flex;
        flex-direction: column;
    }
    .BtsCard{
        text-align: center;
        }

    .btsdefinitioncomponent{
        clip-path: margin-box;
    
    }
}


// Carousel
