
:root {

    --white:                #ffffff;

    --yellow:               #FFC903;
    /* rgb(253,202,3) */
    --blue:                 #333E6A;
    /* rgb(51,62,106) */
    --bluegreen:            #02699F;
    /* rgb(2,105,159) */
    background-color: #333E6A;
    height: auto !important;
    width: 100%;
}


.lhi{
    width: 100%;
    margin-top: -10 rem;
    height: 80vh;
    object-fit: cover;
}
.css-k008qs {
    height: 10px;
}


.panel1{
    position: relative;
}
.Changingline {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    background-color: transparent   ; /* Background color with transparency */
    padding: 10px;

  }

.TextReveal {
    text-align: -webkit-center;

}

.Wave {
    margin-top: -5rem;
}

.Rapidite {
    display: flex;


}


