:root {

  --white:                #ffffff;

  --yellow:               #FFC903;
  /* rgb(253,202,3) */
  --blue:                 #333E6A;
  /* rgb(51,62,106) */
  --bluegreen:            #02699F;
  /* rgb(2,105,159) */



  --title: 2.5rem; /* Customize this value as needed */
  --body: 1.5rem; /* Customize this value as needed */
}



/* .carouselComp{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100vh;
    min-height: 670px;
    margin-bottom: -90px;
} */

/*---------------------------------------
  HERO        
-----------------------------------------*/
.carouselparent{
    width: 50rem;
}

.grid {
  background-image: url(../../public/white.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  position: relative;
}

.hero-section {
    background-image: url(../../public/Light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 100px;
    /* padding-bottom: 100px; */
    height: 100vh;
    min-height: 670px;
    margin-bottom: -90px;
  }
  
  .hero-50 {
    height: auto;
    min-height: 540px;
    margin-bottom: -100px;
  }
  
  .hero-50 .container + svg {
    transform: rotate(180deg);
  }
  
  .hero-section .ratio {
    border-radius: var(--border-radius-medium);
    overflow: hidden;
  }
  
  .hero-section svg {
    position: absolute;
    right: 0;
    left: 0;
  }
  

  
  .hero-section .container + svg {
    top: auto;
    bottom: -1px;
  }
  
  .hero-section .row {
    position: relative;
    z-index: 22;
  }
  /*=======================  */

.client{
  text-align: -webkit-center;
}

/* .lhi{
    width: 100%;
    height: 90vh;
    object-fit: cover;
} */
.css-k008qs {
    height: 10px;
}


.panel1{
    position: relative;
}

.TextReveal {
    text-align: -webkit-center;

}

.spacer {
  height: 5rem; /* Adjust the height as needed for spacing */
  z-index: 100;
}

.Rapidite, nav, .TextReveal, .btrapiserv, .missionvi, .carouselComp {
    z-index: 999;
}

.missionvi{
  padding-top: 5rem;
}


.Rapidite{
  text-align: -webkit-center;

}




@media screen and (min-width: 1440px) and (max-width: 2720px) {
    /* Your CSS rules for this screen width range go here */
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  /* Your CSS rules for this screen width range go here */

}

@media screen and (min-width: 563px) and (max-width: 768px) {
    /* Your CSS rules for this screen width range go here */

}
@media screen and (min-width: 0) and (max-width: 320px) {
  /* Your CSS rules for this screen width range go here */

  .carouselComp {
      margin-top: -4rem;
      margin-bottom: 2.4rem;
  }

}