

.black {
    background-color: transparent;
    padding: 10rem;
    /* Adjust the RGBA values to make the shadow darker */
    border: 1rem;
    width: 80vw;
    height: 30vh;
    display: flex; /* Center content vertically */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}


.scroll-reveal {
    text-align: center;
    padding-block: clamp(5rem, 10vh, 10rem);

}

.scroll-reveal h4 {
    font-size: 23px;
    line-height: 1;
}

.scroll-reveal p {
    font-size: 20px;
    line-height: 1.3;
    max-width: 55inch;
    margin-inline: auto;
}

.scroll-reveal h4 span {
    animation-range-start: contain 10vh;
    animation-range-end: contain 40vh;
    /* background-image: linear-gradient(90deg, #02699F, #333E6A); */
}

.scroll-reveal p span {
    animation-range-start: contain 5vh;
    animation-range-end: contain 40vh;
    animation-name: scroll-reveal;
    /* background-image: linear-gradient(90deg, #02699F, #333E6A); */

}
@media screen and (min-width:0px) and (max-width: 720px) {
    .black {
        background-color: transparent;
        padding: 1rem;
        /* Adjust the RGBA values to make the shadow darker */
        width: 80vw;
        height: fit-content;
        display: flex; /* Center content vertically */
        align-items: center; /* Center content vertically */
        justify-content: center; /* Center content horizontally */
    }
  }

.clan1{
    color: var(--blue);
}
/* 
@keyframes scroll-reveal {
    to {
        background-size: 100% 100%;
    }
}


@media (max-width: 768px) {
    .scroll-reveal {
        padding-block: clamp(3rem, 5vh, 10rem); 
    }

    .black {
        padding: 3rem; 
        margin-top: 4rem;
    
    }

    .scroll-reveal h4 {
        font-size: 20px;
        line-height: 1;
    }
    
    .scroll-reveal p {
        font-size: 15px;
        line-height: 1.3;
        max-width: 55inch;
        margin-inline: auto;
    }
    

} */
