

.lighthousebody{
    display: flex;
    justify-content: center;
    padding: 0 10rem;
    align-items: center;
}

.lighthousetextdefine {
    font-size: 1.5rem;
}
.lighthouseimage{
    max-width: 100%; /* Limit the image width to 100% of its container */
    height: 80vh; 
}
@media screen and (max-width: 736px) {
    .lighthousecomponent {
        margin-top: 0rem;
    }
    .lighthousebody{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0rem 5rem 0rem 5rem
    }
    
    
}