.missionvisioncomponent{
    text-align: justify;
}
/* 
.missionvisionmain{
    background-image: url("../../public/pyramid.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

} */

.missionvisionmain{
    display: flex;
    justify-content: space-evenly;
}


.missiovisionnsub {
    background: radial-gradient(
        circle at right, /* Radial gradient centered */
        #333E6A 10%, /* Start with a dark color close to the center */
        #0f4867 30%, /* Dark blue as the second color */
        #0a5882 50%, /* Deep purple or blue as the third color */
        #0a547c 60%, /* Deep purple or blue as the third color */
        #04486d 80%, /* Lighter purple towards the outer edge */
        #333E6A 100% /* A lighter shade at the very edge */
    );
    width: 30rem;
    padding: 1rem;
    border-radius: 15px;
    border: 3px ridge rgba(2, 5, 10, 0.3);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */

}



.missionvisiontitle{
    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: 400;
    padding: 1rem 0 0 0;
}

.misionvisionbody{
    text-indent: 3rem;
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
}

@media screen and (max-width: 736px){
    .missionvisionmain{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .missiovisionnsub {
        margin-bottom: 2rem; /* Add spacing below each item */
    }

    /* Optional: If you want to remove the spacing from the last child */
    .missionvisionmain > .missiovisionnsub:last-child {
        margin-bottom: 0;
    }
}