.we-partnered-with{
    background-color: rgba(237, 237, 237, 0.7);
    height: 10vh;
    font-size: 4rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.wepartneredtext{
    font-size: 2rem};

@media only screen and (max-width: 768px){
	.wepartneredtext{
        font-size: 5rem;
    }
}

@media only screen and (max-width: 545px){
	.wepartneredtext{
        font-size: 2rem;

    }

}
@media only screen and (max-width: 320px){
	.wepartneredtext{
        font-size: 1.5rem;

    }
    .we-partnered-with{
        background-image: none !important;
    }
}