.navbarmaincomponent{
  background: radial-gradient(
    circle at right, /* Radial gradient centered */
    #333E6A 10%, /* Start with a dark color close to the center */
    #0f4867 30%, /* Dark blue as the second color */
    #0a5882 50%, /* Deep purple or blue as the third color */
    #0a547c 60%, /* Deep purple or blue as the third color */
    #04486d 80%, /* Lighter purple towards the outer edge */
    #333E6A 100% /* A lighter shade at the very edge */
);
box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9); /* Adjust the values as needed */

}



@media (min-width: 0px) and (max-width: 3073px) {
  * {
    --bs-navbar-color: white; 
    --bs-navbar-hover-color: transparent; 
    --bs-navbar-disabled-color: white; 
  
    --bs-border-width: 0.5px;
    --bs-border-style: solid;
    --bs-border-color: var(--yellow);
  }

  .navbar-toggler {
    border-color: #fff !important;
    border-width: 1px !important; 
  }

  .navbar-toggler-icon {
    color: white !important;
  }

  .navbar-toggler:hover {
    border-color: white !important;
  }

  .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--blue); 
    background-color: transparent;
    border: var(--bs-border-width) solid white;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
  }

  .navbar-nav .nav-link {
    color: white; 
  }
  
  .navbar-nav .nav-link:hover {
    color: var(--yellow);
  }
  
  .navbar-brand {
    width: 10rem;
    filter: brightness(0) invert(1);

  }
  .navbar-brand:hover{
    filter: brightness(0) invert(100%) sepia(100%) saturate(10000%) hue-rotate(315deg); /* Adjusted hue-rotate value to match yellow */
  }
  
  
}

@media screen and (min-width: 2280px) and (max-width: 2560px) {
.nav-link{
  color: white;
}
}
@media screen and (min-width: 1881px) and (max-width: 2278px) {

}

@media screen and (min-width: 1281px) and (max-width: 1880px) {

}

@media screen and (min-width: 1025px) and (max-width: 1280px) {

}

@media screen and (min-width: 918px) and ( max-width: 1024px ) {

}


@media screen and (min-width: 552px) and ( max-width: 918px ) {
 
}

@media screen and (min-width: 492px) and ( max-width: 551px ) {

}

@media screen and (min-width: 376px) and ( max-width: 491px ) {

}

@media screen and (min-width: 0px) and ( max-width: 375px ) {
.navbar-brand{
  width: 6rem;

}
.a .nav-link {
  padding-bottom: 0;
}

}


