.rapidcomponent {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 1rem;
    color: rgb(92, 22, 120);
    contain: content;
    border-radius: 15px;
}


.rapidlogocomponent{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.rapidcardcontainer{
    display: flex;
    justify-content: center;
}
.RapidCard > img{
    width: 25rem;
    border-radius: 15px;
}
.rapidlogoholder > img{
    height: 4rem;
    
}
.rapidcardcontainer{
    align-content: center;    
}
.rapiddefinitioncontainer{
    align-content: center;
}
.rapidparagraph{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}
.rapiddefinitioncomponent{
    padding: 1rem;
}
.rapiddefinition{
    align-content: center;
} 

@media screen and (max-width: 736px) {

    .rapidcomponent {
        display: flex;
        flex-direction: column-reverse;
    }
    .rapidparagraph{
        display: flex;
        justify-content: center;
    }
}