

.RapidImage{
    position: relative;
}
.Rapidtxt {
    position: absolute;
    top: 60%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    padding: 10px;
    color: white;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

  }
.RapidlogoImage {
    margin-left: -3rem;
}

.Rapidtxtlogo{
    margin-left: 0.1rem;
}