.rapidsection {
    height: fit-content;
    width: 100vw;
    padding: 1rem;
}
.rapidcomponent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; /* Adjust the gap as needed */
}



.rapidcardcontainer{
    justify-content: end;
}


.rapidCard > img {
    max-width: 100%; /* Limit the image width to 100% of its container */
    height: auto; /* Maintain the aspect ratio by setting height to auto */
    padding: 1rem;
    border-radius: 50px;
}


.rapiddefinition{
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: right;
    padding: 3rem;
    width: auto;    
    background-size: cover;                                                               

}

.rapidlogoholder{
    align-items: center;
    justify-content: center;
}

.rapiddefinitioncomponent{
    align-content: center;

}

.rapidlogo{
    height: 5rem;
    width: 5rem;
}
.rapidlogocomponent{
    display: flex;
    font-family: "montserrat";
    color: var(--blue);
    font-size: 1.5rem;
    align-items: center;

}

.rapidparagraph{
    color: black;
    text-align: center;
}

.rapidparagraphholder{
    margin-bottom: 3rem;
}
.rapidCard{
    
    width: 100%;
}
@media screen and (max-width: 736px) {
    .rapidcomponent{
        display: flex;
        flex-direction: column-reverse;
    }

    .rapidCard{
        text-align: center;
        }

    .rapiddefinitioncomponent{
        clip-path: margin-box;
    
    }
    .rapidlogocomponent{
        padding-left: 0;
    }
    .rapiddefinition{
        align-self: center;
    }
}