

.accordionsummary:hover {
  transform: scale(1.005); /* Makes the element 5% bigger on hover */
}


.MuiAccordionDetails-root {
  // background: radial-gradient(
  //   circle at right, /* Radial gradient centered */
  //   #333E6A 10%, /* Start with a dark color close to the center */
  //   #0f4867 30%, /* Dark blue as the second color */
  //   #0a5882 50%, /* Deep purple or blue as the third color */
  //   #0a547c 60%, /* Deep purple or blue as the third color */
  //   #04486d 80%, /* Lighter purple towards the outer edge */
  //   #333E6A 100% /* A lighter shade at the very edge */
  // );
  background: transparent;

  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
}


.servicecard {
  
//   background: radial-gradient(
//     circle at right, /* Radial gradient centered */
//     #333E6A 10%, /* Start with a dark color close to the center */
//     #0f4867 30%, /* Dark blue as the second color */
//     #0a5882 50%, /* Deep purple or blue as the third color */
//     #0a547c 60%, /* Deep purple or blue as the third color */
//     #04486d 80%, /* Lighter purple towards the outer edge */
//     #333E6A 100% /* A lighter shade at the very edge */
// );
  background: transparent;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  height: auto;
}

.MuiAccordionSummary-content{
  align-items: center;
}

.companyservices{
  width: 60%;
}
.accordionsummary{
  align-items: center;
  background: radial-gradient(
    circle at right, /* Radial gradient centered */
    #333E5A  10%, /* Start with a dark color close to the center */
    #0f4867 30%, /* Dark blue as the second color */
    #0a5882 50%, /* Deep purple or blue as the third color */
    #0a547c 60%, /* Deep purple or blue as the third color */
    #04486d 80%, /* Lighter purple towards the outer edge */
    #333E6A 100% /* A lighter shade at the very edge */
);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
  color: #FEC804;
  justify-content: space-between;
  font-size: 0.875rem;
}

.MuiSvgIcon-fontSizeMedium {
  color: white;
}

.MuiAccordionSummary-content{
  justify-content: space-between;

}

.css-eqpfi5-MuiAccordionSummary-content{
  align-items: center;
}


.servicesweoffercontainer {
  background: radial-gradient(
    circle at right,
    #333e6a 10%,
    #0f4867 30%,
    #0a5882 50%,
    #0a547c 60%,
    #04486d 80%,
    #333e6a 100%
  );
  margin-bottom: 3rem;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  margin-top: -10rem;
  color: white;
  font-size: 1.3rem;
  padding: 1rem 0;
}

.modalflexin{
  display: flex;}


.servicebut {
  width: 100%;
  height: 200px;
}

@media (min-width: 600px) {
  .servicecard {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .servicecard {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 0) and (max-width: 480px) {
  .modalflexin{
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .servicecard {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .companyservices{
    width: 95%;
  }
}