


.servicecard{
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to next line */
    justify-content: center;
    gap: 3rem;
    height: auto;
}


.servicesweoffercontainer {
  background: radial-gradient(
    circle at right, /* Radial gradient centered */
    #333E6A 10%, /* Start with a dark color close to the center */
    #0f4867 30%, /* Dark blue as the second color */
    #0a5882 50%, /* Deep purple or blue as the third color */
    #0a547c 60%, /* Deep purple or blue as the third color */
    #04486d 80%, /* Lighter purple towards the outer edge */
    #333E6A 100% /* A lighter shade at the very edge */
);
  margin-bottom: 3rem;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
}


.servicebut {
  width: 48%;
  height: "30vh";
}
.servicecard > button {
  width: 35rem;
  height: 20rem;
}


@media screen and (min-width: 0px) and (max-width: 575px) {
  /* Your CSS rules for this screen width range go here */
  .servicecard > button {
    width: 40rem;
    height: 20rem;
  }
  .servicebut{
    height: auto;
  }

}